body {
  height: calc(100vh - 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  background-image: url('assets/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.copyright {
  position: absolute;
  bottom: 8px;
  left:0;
  font-size: 12px;
  right:0;
  text-align: center;
  color: #000938;
  font-family: 'Open Sans', sans-serif;
}

.disable {
  cursor: not-allowed!important;
}

.blockInput div {
  display: block;
  margin-bottom: 16px;
}

.block-user-name select {
  margin: auto;
  margin-left: 3%;
  width: 50%;
  margin-top: 19px;
}


.block-user-name label {
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 400;
  color: #6A6A6A;
}

.img-user img {
  max-width: 100%;
}

.img-user {
  margin-bottom: 10px!important;
  display: inline-block!important;
  float:left;
  width: 15%;
}

.button-disabled, .button-disabled:hover{
  background-color: #72A1F3!important;
  cursor: not-allowed!important;
}

.content-sample {
  background-color: #fff;
  -webkit-box-shadow: 0 13px 44px 0 rgba(0,10,56,.11);
  box-shadow: 0 13px 44px 0 rgba(0,10,56,.11);
  border-radius: 5px;
  padding: 30px;
  width: 470px;
}

.electron-message {
  text-align: center;
  color: #000938;
  margin-top: 35px;
  font-size: 16px;
}

.title {
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.input-field {
  margin-top: 15px;
}

.input-field input {
  width: 100%;
  border-bottom-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 15px 0px 15px 0px;
}

.input-field input:focus {
  border-bottom-color: #208fff;
  box-shadow: none;
  outline: none;
}

button {
  padding: 15px 50px;
  background-image: linear-gradient(225deg,#c0e249,#48d57c);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: none!important;
  width: 100%;
  cursor: pointer;
}

#conferenceName, #first_name, #last_name { 
  color: #000;
  font-weight: 200;
}

button:hover {
  background-color: #66B2F3;
}

.logo {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 35px;
  display: inline-block;
  width: 100%;
}

.logo h1 {
  font-size: 55px;
  margin: 25px 15px 30px 15px;
  color: #fff;
  font-weight: 700;
  line-height: 70%;
  display: inline-block;
  color: #000938;
}

.voxeet-logo {
  width: 45px;
}

.blockButton {
  text-align: center;
  margin-top: 22px;
}








/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}





.loader {
   border: 2px solid #f3f3f3;
   border-radius: 50%;
   border-top: 2px solid #58C6F4;
   width: 32px;
   height: 32px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
 }

 #loader-container {
   margin: auto;
   width: 32px;
 }

 /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
